
body{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: medium;
	background-color: rgb(242, 151,253);
	margin: 0px;
}

#background1{
	float: left;
	padding: 0px;
}

header{
	float: left;
	text-align: center;
	margin-left: 15%;
}

h1{
	color: red;
}

ul{
	margin: 0em 1em 0em 1em;
	padding: 0em 1em 0em 1em;
}

li{
	display: inline;
	list-style-type: none;
	margin: 0em 1em 0em 1em;
	padding: 0em 1em 0em 1em;
}
li.over{
	background-color: red;
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 3em;
}

a{
	text-decoration: none;
}

#table {
	display: table;
	clear: both;
	border-top: dotted yellow;
	border-bottom: dotted yellow;
}

#tr{
	display: table-row;
}

.tc{
	display:table-cell;
	text-align: center;
	color:red;
}

#t1, #t3{
	position: absolute;
	vertical-align: top;
	width: 5%;
	font-size: 4.5em;
	padding: 15px;
	padding-bottom: 0px;
	font-family: "Times New Roma", serif;
	color: rgb(255, 242, 0);
}

#party{
	float: right;
}


#background3 {
	float: right;
}

#main{
	padding-left: 3%;
	padding-right: 2.2%;
	line-height: 1.6em;
	text-align: left;
	padding-bottom: 0px;
}

h2{
	margin-top: 10px;
	margin-bottom: 10px;
}

#description{
	width: 78%;
}

#request{
	text-align: center;
}

#wishes{
	text-align: center;
}

#background2{
	float: left;
}

#background4{
	float: right;
}

footer {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 0.6em;
	text-align: center;
}

