body {
	background-color: #f5f5f5;
}
/* sidebar_right 部分*/
.sidebar_right {
	padding: 90px 0 0;
	margin: 0;
	width: 35px;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	color: #fff;
	text-align: center;
}
.sidebar_right li {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}
.sidebar_right li:hover {
	background-color: #DD2727;
}

.sidebar_right li:nth-child(2) span{
	display: inline-block;
	width: 15px;
	margin-bottom: 10px;
}
.sidebar_right li:nth-child(8) {
	margin-top: 50px;
}
.sidebar_right li:hover p[hidden] {
	display: block;
	position: absolute;
	left: -120px;
	top: -13px;
	width: 80px;
	height: 100%;
	line-height: 37px;
	background-color: #666;
}
.sidebar_right li p::after {
	position: absolute;
	top: 12px;
	right: -14px;
	content: "";
	height: 0;
	width: 0;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent transparent #666;
}
/* header top part */
.header_top {
	color: #999;
	font-size: 12px;
}
.header_top>span, .header_top a {
	display: inline-block;
	padding: 10px 7px;
}
.header_top a:hover {
	color: #f20f3c;
}  
.header_top>span:first-child {
	margin-left: 35px;
}
.my_taobao_wrapper {
	margin-left: 25%;
}
.my_taobao_wrapper, .my_favorate_wrapper, .support_wrapper, .site_nav_wrapper {
	padding-right: 10px;
	z-index: 10;
}
/* 添加红心、购物车、手机版、网站导航上的左侧图标*/
.header_top .my_brand, .header_top .my_cart, .header_top .mobile_version, .header_top .site_nav {
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: left center;
}
.my_brand {
	background-image: url("../images/heart.png");
}
.my_cart {
	background-image: url("../images/cart.png");
}
.mobile_version {
	background-image: url("../images/mobile.png");
	position: relative;
}
.site_nav {
	background-image: url('../images/nav.png');
	position: relative;
}
.my_cart strong {
	color: #000;
}
/* 手机版 悬停时出现 下拉的二维码*/
.mobile_version:hover i {
	width: 0;
	height: 0;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: 17px;
	left: 24px;
	z-index: 100;
}
.mobile_version:hover img {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: -55px;
	z-index: 10;
	box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
}
/* 倒三角小图标及鼠标悬停时翻转*/
.my_taobao, .my_favorate, .support {
	position: relative;
}
.my_taobao b, .my_favorate b, .site_nav b, .support b {
	width: 0;
	height: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #999 transparent transparent transparent;
	position: absolute;
	top: 15px;
}
.my_taobao:hover b, .my_favorate:hover b, .site_nav:hover b, .support:hover b {
	border-color: transparent transparent #999 transparent;
	top: 12px;
}
.my_taobao b {
	left: 60px;
}
.my_favorate b {
	left: 48px;
}
.support b {
	left: 60px;
}
.site_nav b {
	left: 65px;
}
/*鼠标悬停时出现下拉菜单*/
.header_top>div {
	display: inline-block;
	position: relative;
}
.header_top>div:hover {
	background-color: #FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	margin-right: -2px;
}
.header_top>div:hover>ul[hidden] {
	display: block;
	position: absolute;
	top: 20px;
	/*left: 0;*/
	width: 100px;
	background-color: #FFF;
	padding: 0;
}
.header_top>div:hover>ul[hidden] li a {
	padding: 5px 10px;
}
/* 我的淘宝 和 收藏夹 的下拉菜单 左对齐*/
.header_top>div.my_taobao_wrapper:hover ul[hidden], .header_top>div.my_favorate_wrapper:hover ul[hidden] {
	left: 0;
}
/* 商家支持 的下拉菜单 右对齐*/
.header_top .support_wrapper:hover ul[hidden] {
	width: 127px;
	right: 0;
	padding: 10px;
}
.support_wrapper>ul>li {
	clear: both;
	font-weight: bold;
}
.support_wrapper ul li ul {
	padding-left: 0;
	margin-left: -10px;
	border-bottom: 1px dotted #000;
	float: left;
}
.support_wrapper .help {
	padding-top: 10px;
}
.support_wrapper .help, .support_wrapper .help ul, .support_wrapper .help ul li {
	float: none;
}
.support_wrapper ul li ul li {
	float: left;
	font-weight: normal;
}
.support_wrapper ul li ul li a {
	padding-left: 0;
}
/* 网站导航 的下拉菜单 右对齐*/
.header_top .site_nav_wrapper:hover ul[hidden] {
	right: -1px;
	width: 1180px;
	border: 1px solid #ccc;
	border-top: none;
	height: 250px;
	z-index: 10;
}
.site_nav_wrapper li {
	float: left;
	width: 85px;
	margin-bottom: 10px;
}
ul li.hot_recom, ul li.market, ul li.fashion_brand, ul li.service_help {
	margin: 20px 0 20px 20px;
	padding-top: 0;
	border-right: 1px solid #eee;
	height: 80%;
}
.site_nav_wrapper li h2 {
	font-weight: normal;
	font-size: 16px;
	margin-top: 0;
}
.site_nav_wrapper li ul {
	padding-left: 0;
	margin-left: -10px;
}
/* 热点推荐 部分*/
ul li.hot_recom {
	width: 275px;
}
.hot_recom h2 {
	color: #f00;
}
li.hot_recom ul li {
	width: 33%;
	/*margin-bottom: 10px;*/
}
/* 行业市场 部分*/
ul li.market {
	width: 375px;
}
li.market h2 {
	color: #00f;
}
li.market ul li {
	width: 25%;
}
/* 时尚品牌 部分*/
ul li.fashion_brand {
	width: 270px;
}
/* 服务帮助 部分 */
ul li.service_help {
	width: 140px;
	border: none;
}
/* 添加品类中推荐hot、新品new的右上角小图标 */
.site_nav_wrapper li.hot a::after, .site_nav_wrapper li.new a::after {
	position: relative;
	top: -5px;
}
.site_nav_wrapper li.hot a::after {
	content: url(../images/hot.png);
}
.site_nav_wrapper li.new a::after {
	content: url("../images/new.png");
}
/* logo 和 搜索框部分 */
.logo_search {
	background-color: #fff;
	padding-left: 20px;
	clear: both;
	height: 135px;
}
.logo_search img {
	width: 250px;
	float: left;
}
.search_area {
	float: left;
	margin: 35px 0 0 95px;
}
.search_area input {
	height: 35px;
	width: 500px;
	border: 2px solid #bf0429;
	margin-right: 0;
	padding-left: 5px;
	font-size: 14px;
}
.search_area button {
	width: 130px;
	height: 41px;
	border: none;
	background-color: #c40000; 
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-left: 0;
	position: relative;
	top: 2px;
	z-index: 1;
}
.search_area ul {
	padding-left: 0;
	margin: 10px 0 0 -10px;
	color: #999;
	font-size: 15px;
}
.search_area ul li {
	float: left;
	border-right: 1px solid #CCC;
	height: 16px;
	padding: 0 10px;
}
.search_area ul li:last-child {
	border: none;
}
/* nav 导航栏 */
header nav {
	background-color: #DD2727;
	height: 35px;
	line-height: 35px;
	padding-left: 0;
}
header nav ul {
	float: left;
	margin: 0;
}
header nav>ul li {
	float: left;
	padding: 0 15px;
	font-size: 16px;
	color: #fff;
	position: relative;
	/*text-align: center;*/
}
header nav>ul li:hover a img {
	/*display: block;*/
	position: absolute;
	top: -50px;
	left: center;
	width: 50px;
	height: 20px;
}
header nav>ul li:first-child {
	padding-left: 25px;
	background: url("../images/tmall_cart.png") no-repeat left center;
}
header nav>ul li:nth-child(2) {
	padding-left: 25px;
	background: url("../images/tmall_intl.png") no-repeat left center;
}
/* 商品分类 */
.category {
	float: left;
	margin-left: 45px;
	clear: both;
	width: 200px;
	position: relative;
}
.category h2 {
	margin: 0;
	font-weight: bold;
	font-size: 16px;
	padding-left: 40px;
	width: 160px;
	color: #fff;
	background: #C60A0A url("../images/category.png") no-repeat 10px center;
}
.category>ul {
	z-index: 2;
	position: relative;
	/*top: 35px;*/
	/*opacity: 0.85;*/
	padding-left: 0;
	color: #000;
	width: 100%;
	background: #eee url("../images/icon_all.png") no-repeat 10px 9px;
}
.category>ul>li {
	height: 31px;
}
.category>ul>li:hover {
	background-color: #fff;
	margin-left: 30px;
	padding-left: 0;
}
.category>ul>li:hover h4 {
	margin-left: 5px;
	font-weight: bold;
	color: #00f;
}
.category>ul>li:nth-child(3n+1):hover h4, .category>ul>li:nth-child(3n+1):hover li li:nth-child(3n+1) {
	color: #f00;
}
.category h4 {
	margin: 0;
	padding: 0;
	margin-left: 35px;
	font-weight: normal;
	font-family: "微软雅黑";
}
/* 每个品类在鼠标悬停时 显示 子分类*/
.category>ul>li:hover>ul {
	display: block;
	position: absolute;
	top: 0px;
	left: 190px;
	width: 1000px;
	background-color: #fff;
}
.category h4 + ul h3 {
	float: left;
	width: 100px;
	margin: 0;
	clear: left;
}
.category h4 + ul ul {
	padding-left: 0;
	float: left;
	width: 500px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}
.category>ul>li:hover>ul.brand_logo {
	left: 800px;
	width: 204px;
	padding: 10px;
	background-color: #eee;
}
.category>ul>li:hover>ul.brand_logo li img {
	width: 90px;
	float: left;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #eee;
}
.category>ul>li:hover>ul.brand_logo li:last-child img {
	width: 192px;
}
.category li li {
}
.category li li li {
	float: left;
	margin: 0 15px 0 0;
	height: 25px;
}
/* banner slide 轮番图 */
.banner_wrapper {
	padding-top: 0;
	position: absolute;
	width: 1320px;
	height: 495px;
	overflow: hidden;
}
.banner_wrapper ul {
	padding-left: 0;
	position: absolute;
	width: 6600px;
	z-index: 1;
	margin-top: 0;
}
.banner_wrapper li {
	position: relative;
	width: 1320px;
	height: 495px;
	overflow: hidden;
}
.banner_wrapper li:first-child {
	background: url("../images/slide_5.jpg") repeat 40px 0;
}
.banner_wrapper li:nth-child(2) {
	background: url("../images/slide_6.jpg") repeat 40px 0;
}
.banner_wrapper li:nth-child(3) {
	background: url("../images/slide_4.jpg") repeat 40px 0;
}
.banner_wrapper li:nth-child(4) {
	background: url("../images/slide_2.jpg") repeat 40px 0;
}
.banner_wrapper li:nth-child(5) {
	background: url("../images/slide_7.jpg") repeat 40px 0;
}
.banner_wrapper li a:first-child {
	display: inline-block;
	width: 100%;
	height: 100%;
	/*background-color: #0f0;*/
}
/* 跟随大banner一起动画的右侧2个小banner */
.banner_wrapper li a.banner_sm_top, .banner_wrapper li a.banner_sm_bottom {
	position: absolute;
	left: 940px;
	display: inline-block;
	padding: 10px;
	background-color: rgba(238,238,238,0.6);
	width: 200px;
	height: 200px;
	font-family: "微软雅黑";
	text-align: center;
	/*margin-bottom: 50px;*/
	opacity: 0.50;
	line-height: 25px;
	border: 1px solid #ccc;
}
.banner_wrapper li a.banner_sm_top:hover, .banner_wrapper li a.banner_sm_bottom:hover {
	background-color: #fff;
	opacity: 1;
}
.banner_wrapper li a.banner_sm_top {
	top: 20px;
}
.banner_wrapper li a.banner_sm_bottom {
	top: 250px;
}
.banner_wrapper li a.banner_sm_top strong, .banner_wrapper li a.banner_sm_bottom strong {
	display: block;
	font-size: 18px;
	font-weight: bold;

}
.banner_wrapper li img {
	/*width: 1320px;*/
	height: 495px;
}
.banner_wrapper li a.banner_sm_top img, .banner_wrapper li a.banner_sm_bottom img {
	width: 110px;
	height: 160px;
}
/* 大banner底部的5个圆框，在鼠标悬停时，显示对应图片并背景变白*/
.banner_wrapper>div {
	text-align: center;
	position: absolute;
	left: 660px;
	bottom: 50px;
	z-index: 10;
}
.banner_wrapper>div>span {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: #999;
	border: 2px solid #999;
	margin-right: 10px;
}
.banner_wrapper>div>span:hover {
	background-color: #fff;
}
/* banner右侧的 悬挂的较宽的横幅 */
.banner_wrapper .login_banner {
	position: absolute;
	left: 1180px;
	top: 20px;
	text-align: center;
	width: 100px;
	height: 452px;
	background-color: rgba(153,153,153,0.5);
	color: #fff;
	font-size: 12px;
	z-index: 1;
}
.banner_wrapper .login_banner:hover {
	background-color: #666;
}
.please_login {
	margin: 8px;
	height: 25px;
	line-height: 25px;
	border-radius: 20px;
	display: block;
	padding-left: 15px;
	background: #bd0909 url("../images/please_login.png") no-repeat 10px center;
}
.free_register {
	padding: 5px;
	border-bottom: 1px dashed #666;
	margin-bottom: 10px;
	display: inline-block;
}
.return, .loan, .refund {
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
	background-image: url("../images/login_3.png");
	background-repeat: no-repeat;
	margin: 5px;
}
.return {
	background-position: 10px 0;
}
.loan {
	background-position: 10px -22px;
}
.refund {
	background-position: 10px -45px;
}
.privileges {
	display: inline-block;
	margin: 10px 0 10px;
}
.login_banner>p:last-of-type {
	width: 100%;
	background-color: #666;
	padding-top: 5px;
	padding-bottom: 5px;
}
.login_banner>a:last-child img {
	border-radius: 60px;
	width: 60px;
}